.vertical-timeline-element--education{
    cursor: default;
}
.button{
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    /* width: 50%; */
}
.button .exp_button{
    color: var(--color-primary);
    background-color: var(--color-white);
    padding: 0.2rem 1.2rem;
    border-radius: 0.4rem;
}
.button:hover{
    transform: translate(2px);
}
.extra{
    font-size: 5rem;
    color: #c5c1c1;
}

@media screen and (max-width: 453px) {
    .button{
        display: flex;
        flex-direction: column;
    }
  }


